.contenedor-selector-nota {
  background-color: #f2f2f2;
  height: 92vh;
  border-radius: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
}

.contenedor-selector-nota h2 {
  font-family: "sf-black";
  color: #272727;
}

.lista-notas {
  padding: 25px;
  padding-top: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.lista-notas ul {
  list-style: none;
  padding: 0;
}

.lista-notas ul li {
  margin: 10px 0;
}

.lista-notas ul li a {
  text-decoration: none;
  padding: 10px;
  color: #333;
  display: block;
  background-color: #e2e2e2;
  border-radius: 10px;
}

.lista-notas ul li a:hover {
  background-color: #c2c2c2;
}

.contenido-notas {
  padding: 0px 50px;
  height: 92vh;
  overflow-y: auto;
}

.editor-container {
  margin-top: 20px;
  height: calc(100% - 20px);
  /* Adjust for margin */
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nueva-nota-title {
  border: none;
  padding-left: 10px;
  font-size: 18px;
  transition: transform 0.7s ease;
  transform-origin: left;
  margin-right: auto;
  font-family: "sf-bold", sans-serif;
}

.nueva-nota-title:focus {
  outline: none;
  color: #272727;
  font-weight: bold;
}

.ck-editor__editable {
  border: none !important;
  outline: none !important;
  overflow: auto;
  height: calc(100% - 30px);
  /* Adjust for toolbar and margins */
}

.ck-toolbar {
  border: none !important;
  background: none !important;
  padding: 0;
  margin-left: auto;
  width: 99%;
}

.ck-toolbar__items {
  display: flex;
  justify-content: flex-end;
}

.ck-toolbar button .ck-button__label {
  font-size: 0.75rem;
}

.ck-toolbar button .ck-icon {
  width: 16px;
  height: 16px;
}

.ck-rounded-corners
  .ck.ck-editor__top
  .ck-sticky-panel
  .ck-sticky-panel__content,
.ck.ck-editor__top
  .ck-sticky-panel
  .ck-sticky-panel__content.ck-rounded-corners {
  border: none;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  box-shadow: none;
}

.header-notas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  background-color: transparent;
}

.hidden {
  display: none;
}

.active-note a {
  color: #fff !important;
  background-color: #333 !important;
}
