

@font-face {
  font-family: 'swiss';
  src: url('../fonts/swiss.otf') format('woff2');
  /* Agrega otras propiedades según sea necesario, como font-weight y font-style */
}


@font-face {
  font-family: 'graphik-black';
  src: url('../fonts/GraphikBlack.otf') format('woff2');
  /* Agrega otras propiedades según sea necesario, como font-weight y font-style */
}

@font-face {
  font-family: 'graphik-bold';
  src: url('../fonts/GraphikBold.otf') format('woff2');
  /* Agrega otras propiedades según sea necesario, como font-weight y font-style */
}

@font-face {
  font-family: 'sf-bold';
  src: url('../fonts/SF-Pro-Display-Bold.otf') format('woff2');
  /* Agrega otras propiedades según sea necesario, como font-weight y font-style */
}

@font-face {
  font-family: 'sf-black';
  src: url('../fonts/SF-Pro-Display-Black.otf') format('woff2');
  /* Agrega otras propiedades según sea necesario, como font-weight y font-style */
}

@font-face {
  font-family: 'sf-regular';
  src: url('../fonts/SF-Pro-Text-Regular.otf') format('woff2');
  /
}

body {
      font-family: 'sf-regular', sans-serif;
      background-color: #1c1c1c; 
      padding-right: 8px;
      padding: 30px 10px;
      padding-right: 30px;
    overflow: hidden;
    }

    .left-section {
      background-color: #f8f9fa;
      padding: 20px;
      flex-grow: 1;
    }

    .right-section {
      padding: 20px;
      flex-grow: 1;
    }

    .content_header {
      background: white;
    }

    .main-sidebar {
      background-color: #1c1c1c;
      padding-top: 25px;

    }

    .brand-link {
      padding-bottom: 25px;

    }

    .nav-sidebar .nav-item>.nav-link {
      position: relative;
      margin-bottom: 15px;
      letter-spacing: 1px;
      font-weight: 900;
    }

    .main-sidebar .nav-item p {
      color: #868b8f;
      font-weight: 600;
      
    }

    .main-sidebar .nav-item i {
      color: #868b8f;
    }
     .main-sidebar .nav-item  ion-icon {
      color: #868b8f;
      margin-left: 2px;
      
     }
    [class*=sidebar-dark] .brand-link {
      border-bottom: 0px;
    }

    .main-header {
      background-color: #fbfbfb;
      border: 0px;
    }


    [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link.active {
      box-shadow: none;

    }

    .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
    .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
      background: #efefef;
      border-radius: 10px;
      color: #2d2f32;

    }

    .main-sidebar .nav-sidebar>.nav-item>.nav-link.active i,
    .main-sidebar .nav-sidebar>.nav-item>.nav-link.active p {
      color: #2d2f32;

    }


    .main-sidebar .nav-sidebar>.nav-item>.nav-link.active ion-icon{
      color: #2d2f32;

    }
    .container .card {
      background-color: white;
      box-shadow: none
    }

    .card {
      border-radius: 15px;
    }

    .preloader {
      background: #1c1c1c;
    }

    .user-image {
      margin-top: -95px;
      margin-left: -45px;
      float: left;
      width: 135px;
    }





    /* TODO */

    .option-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 10.3px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 30px;
      background: #fce9eb;
      border: 2px solid #e06c6e;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5rem;
      outline: none;
      position: relative;
      z-index: 1000;
    }


    .option-input:checked {
      background: #dc7274;
    }

    .option-input:checked::before {
      height: 26px;
      width: 26px;
      position: absolute;
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      font-size: 16.7px;
      text-align: center;
      line-height: 27px;
    }

    .option-input:checked::after {
      -webkit-animation: click-wave 0.25s;
      -moz-animation: click-wave 0.25s;
      background: red;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }

    .option-input.radio {
      border-radius: 50%;
    }

    .option-input.radio::after {
      border-radius: 50%;
    }

    .completed {
      color: gray;
      text-decoration: line-through;
    }

    .line-text {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #eee;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }

    .line-text span {
      background: #fff;
      padding: 0 10px;
      color: #212529;
    }

    .tareas-dashboard {
      overflow: auto;

    }

    .content-wrapper {
      background: white;
      height: 92vh;
      border-radius: 30px;
    }

    .content-order{
            z-index: 1;

    }
    .main-sidebar {
      background: #1c1c1c;
    }

    .brand-link {
      background: #1c1c1c;
    }

    .nav-pills {
      padding: 15px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background: white;
      border-radius: 20px;
    }


.navbar{
  height: 100px;
    font-family: 'sf-bold', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}
.navbar .boton {
    letter-spacing: 0.4px;
}
.boton {
  border-radius: 35px;
  border: none;
  background: #f7f7f7;
  color: #222222;
  padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

.container-fluid {
  padding-right:100px;
  padding-left: 100px;

}
.nav-link{
  color: #222222;
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.page-title{
  font-size: 80px;
  font-weight: bold;
  font-family: 'sf-bold', sans-serif;
}

.imagen-destacada{
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 90px; 
  margin-top: 90px;
}
.page-title-description{
    font-size: 23px;
      font-family: 'sf-regular', sans-serif;
      margin: 40px 0px;;
}

.text-icons{
  text-align: center;
  font-size: 24px;
        font-family: 'sf-bold', sans-serif;
}

.titulo-container-1{
  font-family: 'sf-bold', sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}

.welcome-title{
    font-family: 'sf-black', sans-serif;

}







.tarea .tarea-icon {
    background-color: rgba(34, 34, 34);
    height: 100%;
    width:7%;
    border-radius: 20px;
}

.tarea-timer {
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tarea-timer .time-btn {
    border: none;
}


.tarea-content {
    height: 100%;
    width: 100%;
    border-radius: 35px;
    padding-left: 18px;
}

.time-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #333;
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sing-icon {
    font-size: 17px;
    color: white;
    margin-right: 20px;
    margin-left: 22px;
}

.time-text{
  margin-left: 15px;
}

.time-btn:focus{
  border: none;
  outline: none;
}

.time-btn .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.time-btn:hover, .time-btn.active {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.time-btn:hover .sign, .time-btn.active .sign {
    width: 23%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

/* hover effect button's text */
.time-btn:hover .text, .time-btn.active .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}

/* button click effect */
.time-btn:active {
    transform: translate(2px, 2px);
}


.vistazo-general{
  background-color: rgba(44, 44, 44, 0.5); 
  height:85vh;
  border-radius: 30px;
}



.selector-tareas {
  height: 6vh;
  margin-top: 10px;
  border-radius: 35px;
  background-color: rgba(44, 44, 44, 0.8);
  opacity: 60%;
  padding: 0;
}



button {
  border: none;
  outline: none;
  cursor: pointer;
}
.section-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.btn {
padding: 10px 30px;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: black;
  border: none;
  outline: none;
  
}
.btn:focus {
outline: none;
border: none;
  
}
.btn-focus {
  background-color: #222;
  color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
.btn-focus:hover{
  background-color: #222;
  color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
.time-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
#time {
  text-align: center;
  color: #222;
  font-size: 170px;
  font-weight: 600;
  font-family: 'Graphik-bold', sans-serif;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}


.hide {
  display: none;
}
.show {
  display: block;
}

.pomodoro-container{
  padding: 43px 0px;
}


.fullscreen-active {
    color: lightgray;
    background-color: black; /* Ejemplo de cambio de fondo */
    /* Añade otros estilos que quieras cambiar en pantalla completa */
}
.fullscreen-active #time{
    color: lightgray;
    font-size: 250px;
}

.fullscreen-active .btn{
background-color: #2d2f32;
color: white;
}




    .fc-theme-standard .fc-scrollgrid {
        border: none;
    }

   


    .selected-date {
        display: inline-block;
        width: 150px;
        text-align: center;
        font-size: 18px;
        margin: 0 10px;
    }



    .timeline {
        border-radius: 25px;
        height: 73vh;
        padding: 20px;
        background: #fff;
        overflow-y: scroll;
        position: relative;
        user-select: none;
    }

    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .timeline::before {
        display: none;
    }

    .selection-time {
        position: absolute;
        left: 10px;
        top: -25px;
        background: #000;
        color: #fff;
        padding: 2px 5px;
        border-radius: 3px;
        font-size: 12px;
        display: none;
        /* Initially hidden */
    }

    .time-slot {
        height: 10px;
        /* Adjusted for better visualization */
        position: relative;
        user-select: none;
    }

    .time-slot[data-hour="true"] {
        border-bottom: 1px solid #eee;
    }

    .time-label {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: #666;
    }

    .task {
        position: absolute;
        left: 80px;
        right: 10px;
        background-color: #fff0de;
        border-left: 4px solid #222222;
        border-radius: 3px;
        font-size: 14px;
        padding: 5px;
        box-sizing: border-box;
        user-select: none;
    }

    .current-time {
        position: absolute;
        left: 70px;
        height: 2px;
        background-color: red;
        z-index: 10;
    }

    .current-time::before {
        content: '';
        position: absolute;
        left: -6px;
        top: -4px;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
    }
    .fc table{
      font-size: 10px;
      color:black;
      font-family: "sf-bold";

    }
    .fc .fc-timegrid-col.fc-day-today {
        background-color: transparent;
    }

    .fc-theme-standard td,
    .fc-theme-standard th {
        border: none;
        text-transform: capitalize;
        background-color: transparent;
        font-size: 14px;
      
    }


  .section {
    display: none;
  }

  .section.active {
    display: block;
  }

    #count_click {
      font-size: 2em;
      margin-bottom: 10px;
    }




.modal-sidebar{
  height: 70vh;
  border-radius: 20px 0 0 20px ;
  background-color: #f2f2f2;
}

.modal-sidebar .nav-link{
  font-size: 16px;
  color: black;
  width: 100%;
  border: none;
  text-align: left;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 5px;
}

.modal-sidebar .nav-link:focus{
  border-radius: 10px;
}

.modal-sidebar .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
 outline: none;
   border-radius: 10px;
color: black;
}

.modal-sidebar .nav-link:hover{
  color: black;
  background-color: white;
}

.modal-sidebar .nav-link a{
  color: black;
}


.ajustes-content{
    border-radius: 0 20px 20px 0;

}

.ajustes-title{
  font-family: 'sf-bold';
  margin-bottom:5px;
  padding: 10px;
}
.modal-sidebar .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: white;
    color: black !important;
    border-radius: 10px !important;
}




.modal{
  background-color: rgba(28, 28, 28, 0.49);
}


.ajustes-contenedor {
  position: fixed;
  background-color: rgba(28, 28, 28, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ajustes{
  background-color: #202020;
  height: 70%;
  width: 60%;
  z-index: 999;
  position: fixed;
  margin-left: 200px;
  border-radius: 20px;
  display: flex;
}

.ajustes-sidebar {
  padding: 20px 10px;
  background-color: #272727;
  width: 250px;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.ajustes-panel {
  width: 72%;
  height: 100%;
  background-color: #202020;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  overflow: auto;
  scrollbar-width: none;

}

.ajustes-sidebar button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.ajustes-sidebar button:hover {
  background-color: #333333;
}

.ajustes-sidebar  ul {
  list-style-type: none;
  padding: 0;
}

.ajustes-sidebar  li {
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  padding-left: 15px;
  margin-top: 10px;
}

.ajustes-sidebar  li span {
  color: white;
  width: 100%;
  display: block;
  text-align: none;
  text-decoration: none !important;
}

.ajustes-sidebar  li:hover {
  background-color: #333333;
}

.ajustes-sidebar  .conf-title{
  color: #7b7b7b;
  padding: 10px;
}

.ajustes-sidebar  .active{
  background-color: #333333;

}
ion-icon {
  font-size: 21px;
  margin-bottom: -4px;
  margin-right: 10px;
}

.ajustes-panel .secciones {
  text-align: left;
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;

  color: white;
}
.ajustes-panel .titulo-ajuste{
  color: white;
}

.ajustes-modal{
  display: none;
  
}

.visible{
  display: block;
}
.titulo-configuracion{
  color: white;
  font-size: 22px;
}






/* TAREAS */
.tarea-dashboard {
    height: 8vh;
    margin-top: 10px;
    border-radius: 35px;
    background-color: #222;
    padding: 0;
    margin-bottom: 10px;
}

.tareas-selector{
     height: 8vh;
    margin-top: 10px;
    border-radius: 35px;
    background-color: #222;
    padding: 0;
    margin-bottom: 10px;
    color: white;
    padding: 10px;
}
.tarea-dashboard .tarea {
    height: 100%;
    color: #fff !important;
    padding: 15px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.tareas-contenedor{
  overflow: auto;
  border-radius: 20px;
  height:80vh;

}


.checkbox-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox container */
        .checkbox-container {
            position: relative;
            display: inline-block;
            font-size: 20px; /* Make the checkbox slightly bigger */
            margin-bottom: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        /* Style the checkmark */
        .checkmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 20px; /* Make the checkbox slightly bigger */
            width: 20px; /* Make the checkbox slightly bigger */
            border-radius: 6px; /* Round the corners */
            background-color: #333; /* Default color */
            transition: all 0.3s ease; /* Add smooth transition */
        }

        /* Show the checkmark when checkbox is checked */
        .checkbox-container input:checked ~ .checkmark:after {
            display: block;
            animation: checkboxExpand 0.3s ease forwards;
        }

        /* Style the checkmark/indicator */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            top: 50%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%) rotate(45deg) scale(0); /* Center and hide initially, then scale to appear */
            width: 7px; /* Adjust size */
            height: 10px; /* Adjust size */
            border: solid #fff; /* Change color of the tick to white */
            border-width: 0 4px 4px 0; /* Adjust thickness and direction */
        }

        /* On hover, add a grey background color */
        .checkbox-container:hover .checkmark {
            background-color: #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
            transform: scale(1.0); /* Scale up slightly */
        }

        /* When the checkbox is checked, add a green background */
        .checkbox-container input:checked ~ .checkmark {
            background-color: #222;
            border-color: #222; /* Change border color */
            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Add shadow for 3D effect */
        }

        /* Keyframes for expanding animation */
        @keyframes checkboxExpand {
            0% {
                transform: translate(-50%, -50%) rotate(45deg) scale(0);
            }
            100% {
                transform: translate(-50%, -50%) rotate(45deg) scale(1);
            }
        }

        /* Text styling */
        .checkbox-container .text {
            margin-left: 40px; /* Add space between checkbox and text */
            font-size: 18px;
            position: relative;
            transition: color 0.3s, text-decoration 0.3s;
        }

        /* Strike-through effect when checked */
        .checkbox-container input:checked ~ .text {
            color: #bbb;
            text-decoration: line-through;
            position: relative;
            overflow: hidden;
        }

        .checkbox-container input:checked ~ .text::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 2px;
            background-color: #000;
            animation: strike 0.3s forwards 0.3s;
        }

        @keyframes strike {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }











.contenedor-ajustes-usuario {
  max-width: 600px;
  color: #fff;
}


.img-usuario {
  width: 95px;
  height: 95px;
  border-radius: 50px;
  object-fit: cover;
}

.contenedor-ajustes-usuario  input{
  color: #fff;
  background-color: #222 !important;
  border: none;
}


label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding-left: 3px;
}

.form-control {
  border-radius: 10px;
}


.contenedor-ajustes-usuario input[placeholder] {
  font-weight: 500;
  color: #fff !important;
}
.form-control:focus {
  box-shadow: none;
  border:none;
}

@media (max-width: 576px) {
  .wrapper {
    padding: 25px 20px;
  }
  #deactivate {
    line-height: 18px;
  }
}
.btn-ajuste-user {
  background-color: #222;
  padding: 10px 20px;
  color: #fff;
  border-radius: 16px;
}



.titulo-interior-configuracion{
  font-size: 16px;
  border-bottom: solid 1px #333;
  padding: 15px 0;
}

.contenedor-ajustes-usuario {
  max-width: 600px;
  color: #fff;
}

.img-usuario {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}
.seccion-imagen-usuario{
  padding: 0 10px;
}

.seccion-imagen-usuario input{
  background-color: #333;
  border-radius: 6px;
  border: solid 1px #3c3c3c;
  font-size: 13px;
}
.btn-ajuste{
  background-color: transparent;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  color: #fff;
  padding: 5px 8px;
  font-size: 14px;
}
.contenedor-ajustes-usuario .opcion-ajuste-titulo{
  font-size: 14px;
  padding-left: 7px;

}
.contenedor-ajustes-usuario .opcion-ajuste-descripcion{
  font-size: 12px;
  padding-left: 7px;
  color: #868b8f;

}
.text-eliminar-cuenta{
  color: #e85353;
}
